<label>Name:
  <input type="text" [(ngModel)]="dog.name" placeholder="Name" />
</label>
<label>Weight:
  <input type="text" [(ngModel)]="dog.weight" placeholder="Weight" />
</label>
<label>Birth Date:
  <input type="date" [(ngModel)]="dog.birthDate" placeholder="BirthDate" />
</label>
<div>
  <span *ngIf="dog.weight < 10" [ngClass]="{'warning' : dog.weight < 5, 'message': true }">
    {{dog.name}} is underweight
  </span>
</div>
<br>
<button *ngIf="!dog.id" type="button" name="btnAddDog" (click)="addDog()">Add dog</button>
<div *ngIf="dog.id" >
  <button type="button" name="btnSubmitEdit" (click)="submitEdit()">Edit dog</button>
  <button type="button" name="btnCancelEdit" (click)="cancelEdit()">Cancel</button>
</div>
