<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div *ngIf="!access">
  <label>Name:
    <input type="text" [(ngModel)]="userName" placeholder="name" />
  </label>
  <br>
  <label>Password:
    <input type="password" [(ngModel)]="password" placeholder="password" />
  </label>
  <br>
  <button type="button" name="btnLogin" (click)="login()">Log In</button>
</div>

<div *ngIf="access">
  <h2>Hey, {{ userName | uppercase }}!</h2>
  <div>
    <app-dogs></app-dogs>
  </div>