<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <label>Name:
    <input type="text" [(ngModel)]="userName" placeholder="name" />
  </label>
  <br>
  <label>Password:
    <input type="password" [(ngModel)]="password" placeholder="password" />
  </label>
  <br>
  <button type="button" name="btnLogin" (click)="login()">Log In</button>
</div>

<div *ngIf="access">
  <h2>Hey, {{ userName | uppercase }}!</h2>
  <h3> Add a new dog:</h3>
  <div>
    <label>Name:
      <input type="text" [(ngModel)]="dogName" placeholder="Name" />
    </label>
    <label>Weight:
      <input type="text" [(ngModel)]="dogWeight" placeholder="Weight" />
    </label>
    <label>Birth Date:
      <input type="date" [(ngModel)]="birthDate" placeholder="BirthDate" />
    </label>
    <div>
      <span *ngIf="dogWeight < 10" [ngClass]="{'warning' : dogWeight < 5, 'message': true }">
        {{dogName}} is underweight
      </span>
    </div>
    <br>
    <button type="button" name="btnAddDog" (click)="addDog()">Add dog</button>

    <ul>
      <li *ngFor="let dog of dogs; let i = index">
        {{i+1}}. {{dog.name | uppercase}} - {{dog.weight}}kgs, {{dog.birthDate | date:getFormat(i)}}
        <input type="button" name="btnShortDate" [value]="getBtn(i)" (click)="toggle(i)" />
        <input type="button" name="btnDeleteDog" value="X" (click)="deleteDog(i)" />
      </li>
    </ul>
  </div>


  <ul>
    <li *ngFor="let cat of cats; let i = index">
      {{i+1}}. {{cat.name | uppercase}} - {{cat.weight}}kgs, {{cat.birthDate | date:shortDate}}
    </li>
  </ul>
</div>