<!-- <app-dog-editor (dogEdited)="addWasEdited($event)" (dogAdded)="addLastUpdated($event)" [dog]="selectedDog"></app-dog-editor> -->

<!-- <a routerLink="/add-dog">Add dog</a> -->

<h3>{{title}}</h3>
<h4 *ngIf="lastUpdated.length > 0">{{ lastUpdated }}</h4>
<ul>
  <li *ngFor="let dog of dogs; let i = index">

    {{i+1}}. {{dog.name | uppercase}} - {{dog.weight}}kgs, born on {{dog.birthDate | date:getFormat(i)}}

    <input type="button" name="btnShortDate" [value]="dog.toggle ? '+' : '-'" (click)="toggle(i)" />
    <input type="button" name="btnDeleteDog" value="X" (click)="deleteDog(i)" />
    <!-- <input type="button" name="btnEditDog" value="Edit" (click)="editDog(dog)" /> -->
    <a [routerLink]="['edit-dog', dog.id]">Edit</a>

    <span *ngIf="dog.wasEdited">just updated!</span>

  </li>
</ul>